.wrapper {
    max-width: 1000px;
    margin: auto;
    padding: 30px 0 50px;
}

.contents {
    padding: 30px;
    background: #eee;
    margin-top: 10px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

.title {
    margin-top: 10px;
}

.price {
    margin-top: 10px;
    line-height: 1;
}

.button {
        margin-top: 10px;
        background: #ffd803;
        border-radius: 8px;
        color: #272343;
        padding: 6px 10px;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
}

.button:hover {
    opacity: 0.75;
}